@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

h1{
  text-align: center;
}
.square {
  background-color: black;
  width: 100%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-areas:
  'header header'
  'left right'
  'bottom bottom'
}
.search {
  margin: 0 auto;
  width: 90%;
  height: 100px;
  position: relative
}

.searchTerm1 {
  grid-area: left;
  display: inline;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm2 {
  grid-area: right;
  display: inline;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  grid-area: bottom;
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  background-color: rgb(237, 237, 237);
  padding: 30px;
  border-radius: 10px;
  width: 960px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
